/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */
 ul {
  list-style: none;
}
.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}
.title{ border-style: outset;
  border-color: rgb(55, 103, 236);
  padding:2px;
}
ul li {
  padding: 5px;
  background: #f4f4f4;
  margin: 5px 0;
}
 #my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



.btn:hover {
  background: #444;
}

.bg-dark {
  background: #333;
  color: #fff;
}
